/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url("/hintergrundbesser.png");
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
 font-size:12pt;
 } 
  #logobereich {
  position:fixed;              
  top:0;                           
  left:0;                           
  border: 0px solid #ccc; 
  background-image:url("logo_neu.jpg");
  background-repeat:no-repeat; 
  background-size: cover;    
  background-color:rgba(16,78,139,0);    
  width:200px;                
  height:200px;               
  z-index:3;                                   
}

 #kopfbereich {
  position:fixed;            
  left:0;                   
  top:0;                     
  border: 1px solid #ccc;    
  background-color:green;    
  width:100%;               
  height:100px;             
  z-index:2;                             
}
#navibereich {
  position:fixed;            
  top: 100px;                
  left:0;                   
  margin-top:0px;            
  border: 1px solid #ffffff;    
  background-color:red;      
  width:100%;                
  height:50px;               
  z-index:2;                               
}
#textbereich {
  position:fixed;           
  left:0;                   
  right:0;                   
  top:150px;                 
  padding-top:20px;         
  padding-bottom:60px;      
  padding-right:210px;      
  border: 1px solid #ffffff00;    
  height:100%;              
  overflow-y: auto;          
  background-color:rgba(255,255,255,0);
}
#newsbereich {
  position:fixed;            
  right:0px;                
  top: 150px;                
  border: 1px solid #ccc;    
  background-color:yellow;  
  width:200px;               
  min-height:300px;         
  z-index:2;                                 
}
#fussbereich {
  position:fixed;           
  bottom: 0;                 
  left:0;                    
  border: 1px solid #ccc;    
  width: 100%;               
  background-color: blue;    
  height:50px;             
  z-index:2;                 
}
.header-image {
content:url(image neu.jpg);
width: 50px;  
float:left;  
margin:5px;
/*  ----------------------------------------------------------- */
/*  Bildformatierung für Bilder im Textbereich      */
/*  ----------------------------------------------------------- */
.text-image-left {
width:200px;  
margin:0px;   
float:left;        
}
.text-image-right {
width:200px; ;
margin:0px;  
float:right;     
}

#logobereich {
  position:fixed;               
  top:0;                           
left:0;                            
border: 0px solid #ccc; 
background-image:url("logo neu.jpg");
background-repeat:no-repeat; 
  background-size: cover;    
background-color:rgba(16,78,139,0);    
  width: 50px;                
    height:50px;                  
      z-index:3;                      

      }/*  ----------------------------------------------------------- */
/*  Bildformatierung für Bilder im Textbereich      */
/*  ----------------------------------------------------------- */
.text-image-left{
  width:200px;  
margin:0px;   
float:left;        
}
text-image-right {
width:200px; 
margin:0px;  
float:right;    
}
/*  -----------------------------------------        */
/*  Menüformatierung                                 */
/*  -----------------------------------------        */

/*  Linkformatierung für das Menü übergreifend       */
.naviformat a, button {
  	font-family: 'StoryScript', sans-serif;
  	text-transform:uppercase;	
font-size:90%;            	
	font-weight:700;		      
	color: rgb(0,0,0);		
	display: block;			
	transition: all 0.3s ease-out 0s; 
	text-decoration:none;		
  	line-height: 20px;		
  	padding: 5px 5px;		
}
/*  Formatierung des Hauptmenüs (mainnav)                  */
.mainnav {
	text-align:right;          
	list-style-type: none;     
	margin: 20px 5px;          
       padding: 5px 5px;          
}

.mainnav > li {
	float:none;
}				
/*  Formatierung des aktiven Hauptmenüpunkts */
.mainnav > li > a.active {
	font-weight:700;		
	text-shadow: 1px 1px black, 2px 2px grey, 3px 3px 	#696969; 
  	color: rgba(90,195,208,1);	
}
/*  Formatierung des Menüpunkts, wenn die Maus darüber fährt */
.mainnav > li > a:hover {
	font-weight:700;		
	font-style:italic;	
	text-shadow: 1px 1px white, 2px 2px white, 3px 3px white; 
  	background-color:rgba(255,255,255,0.7);   
}
/*  -----------------------------------------        */
/*  Menüformatierung                                 */
/*  -----------------------------------------        */

/*  Linkformatierung für das Menü übergreifend       */
.naviformat a, button {
  	font-family: 'Montserrat', sans-serif;
  	text-transform:uppercase;	
font-size:90%;            	
	font-weight:700;		     
	color: rgb(0,0,0);		
	display: block;			
	transition: all 0.3s ease-out 0s; 
	text-decoration:none;		
  	line-height: 20px;		
  	padding: 5px 5px;			
}
/*  Formatierung des Hauptmenüs (mainnav)                  */
.mainnav {
	text-align:right;          
	list-style-type: none;     
	margin: 20px 5px;        
       padding: 5px 5px;          
}

.mainnav > li {
	float:none; float:left, 
}				
/*  Formatierung des aktiven Hauptmenüpunkts */
.mainnav > li > a.active {
	font-weight:700;		
	text-shadow: 1px 1px black, 2px 2px grey, 3px 3px 	#696969; 
  	color: rgba(90,195,208,1);	
/*  Formatierung des Menüpunkts, wenn die Maus darüber fährt */

	font-weight:700;		
	font-style:italic;
	text-shadow: 1px 1px white, 2px 2px white, 3px 3px white; 
  	background-color:rgba(255,255,255,0.7);   
}	
/*  -----------------------------------------        */
/*  Für Teaser (Blickfang)             	        */
/*  -----------------------------------------        */
.teaser {
	font-weight:bold;				
	font-family:'Montserrat', sans-serif;
	padding: 5px 5px;				
	margin: 0 2px 4px 2px;			
	border-bottom: 1px solid #ccc;		
}
.teaser_date {
	font-size:90%;                         
}
.teaser_title {
	font-size:110%;                        
	line-height:140%;
}
.teaser_text {
        line-height: 140%;                     
}
a.teaser_link {
padding-top: 4px;
color:black;
}
.teaser_border {
  color: #333;
  border: 2px solid #548b54;
}
