/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url("/hintergrundbesser.png");
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
 font-size:12pt;
 } position:fixed;            
  left:0;                   
  top:0;                     
  border: 1px solid #ccc;    
  background-color:green;    
  width:100%;               
  height:100px;             
  z-index:2;                             

#navibereich {
  position:fixed;            
  top: 100px;                
  left:0;                   
  margin-top:0px;            
  border: 1px solid #ffffff;    
  background-color:red;      
  width:100%;                
  height:50px;               
  z-index:2;                               
}
#textbereich {
  position:fixed;           
  left:0;                   
  right:0;                   
  top:150px;                 
  padding-top:20px;         
  padding-bottom:60px;      
  padding-right:210px;      
  border: 1px solid #ffffff00;    
  height:100%;              
  overflow-y: auto;          
  background-color:rgba(255,255,255,0);
}
#newsbereich {
  position:fixed;            
  right:0px;                
  top: 150px;                
  border: 1px solid #ccc;    
  background-color:yellow;  
  width:200px;               
  min-height:300px;         
  z-index:2;                                 
}
#fussbereich {
  position:fixed;           
  bottom: 0;                 
  left:0;                    
  border: 1px solid #ccc;    
  width: 100%;               
  background-color: blue;    
  height:50px;             
  z-index:2;                 
}
.header-image {
content:url(image neu.jpg); // Den Link zu einem Bild kann mit Hilfe von CSS festgelegt werden;
width: 50px;  // Größe des Bildes wird festgelegt;
float:left;  // Das Bild wird links angezeigt. Bei float:right wird es rechts angezeigt;
margin:5px;
}
